@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(109, 107, 107);
}
.regform {
  background-image: url(https://images.unsplash.com/photo-1555006658-11d0c0ce2dc4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}
.login {
  background-image: url(https://images.unsplash.com/photo-1555006658-11d0c0ce2dc4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  background: #222;
}
.game {
  background-color: antiquewhite;
}
